.banner {
  margin-top: 12px;
}

.sign {
  float: right;
  font-size: 22px;
  margin-top: 30px;
}

a.login {
  color: #9e9e9e;
  margin-right: 26px;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.login:hover {
  color:black;
  transition: .5s;
}

.nav {
  background-color:#BF74ED;
  height: 45px;
  margin-top: -12px;
}

.navContainer ul {
  margin-top: 12px;
  padding: 0;
}

.navContainer ul li {
  list-style-type: none;
  display: inline;
  border-left: 1px solid white;
  padding: 6px;
}

.navContainer ul li:last-child {
  border-right: 1px solid white;
}


a.navLink {
  font-size: 18px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 22px;
  margin-right: 22px;
}


a.navLink {
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.searchbar {
  float: right;
  margin-right: 10px;
  margin-top: -40px;
}

i {
  color: white;
}

.btn {
  background-color: #74DFED;
  border: 1px solid white;
  height: 30px;
}

.searchInput {
  border-radius: 6px;
  border: 1px;
  height: 30px;
  margin-right: 10px;
}

.mainContainer {
  background: linear-gradient(#66b5ff, #e6f3ff);
  height: 566px;
  margin-top: -2px;
  position: relative;
}

.showcase {
  position: absolute;
  margin-top: 60px;
  margin-left: 10.5%;
  margin-right: 10.5%;
}

.looking {
  width: 295px;
}

.lookingTitle {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  margin-left: 5px;
}

.lookingCase {
  background-color: white;
  width: 100%;
  border-radius: 8px;
  height: 350px;
}

.case {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  /*width: 795px;*/
  /*width: 100%;*/
  /*background-color: green;*/
}

.list-group-item {
  padding: 20px;
}

.cardImg {
  width: 256px;
  height: 165px;
}

.cardInfo {
  height: 60px;
  background-color: white;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

.cardTitle {
  color: #0088cc;
  float: left;
}

.cardPrice {
  color: orange;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 22px;
}
